{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% load custom_tags %}

{% block title %}
MyResponses
{% endblock title %}

{% block content %}

<h1>Мои отклики</h1>
<h3>{% current_time '%b %d %Y' %}</h3>
<br>
{% if responses %}
                <table align = 'center'>
                    <style type="text/css">
                    TABLE {width: 100%;}
                    TD, TH {padding: 20px;}
                    TH {text-align: left; border: 1px solid white;}
                    TD {border-bottom: 1px solid black;}
                    </style>
                <tr>
                    <td><b>Дата создания</b></td>
                    <td><b>Автор объявления</b></td>
                    <td><b>Название</b></td>
                    <td><b>Автор отклика</b></td>
                    <td><b>Отклик</b></td>
                    <td><b>Состояние</b></td>
                    <td><b>Действия</b></td>

                 </tr>
                {% for response in responses %}
                <tr>
                    <td>{{ response.resp_time_in }}</td>
                    <td>{{ response.post.author }}</td>
                    <td><a href="{{ response.post.get_absolute_url }}">{{ response.post.title }}</a></td>
                    <td>{{ response.resp_author.username }}</td>
                    <td>{{ response.text|censor }}</td>
                    <td>
                        {% if response.status == False %}
                        <a>Отклик не принят!</a>
                        {% else %}
                        <a>Отклик принят!</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if perms.responses.change_post %}
                        <a href="{% url 'resp_update' pk=response.id %}">Изменить</a>
                        {% endif %}
                        {% if perms.posts.delete_post %}
                        <a href="{% url 'resp_delete_author' response.id %}">Удалить</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </table>
{% else %}
<hr>
<a><b>Вы не оставляли отклики</b></a>
<hr>
{% endif %}
<br>
    <a class='btn btn-sm btn-secondary' href="\posts\resp_manage\">Вернуться в менеджер откликов</a>
{% endblock content %}